<!DOCTYPE html>
<html lang="en">
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tu mundo Argentino</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tu-mundo-arg.css"/>

  </head>
  <body>

<header>
  <div class="row">
    <div class="col-12">
    <h1>Tu mundo Argentino</h1>
    </div>
  </div>

  <nav class="row">
    <div class="col-12">
      <a href="/" class="col" id="nav-a">Inicio</a>
      <a href="/#desierto" class="col" id="nav-a">Desierto</a>
      <a href="/#campo" class="col" id="nav-a">Campo</a>
      <a href="/lagos" class="col" id="nav-a">Lagos</a>
    </div>
  </nav>
</header>
    {{{body}}}
<footer id="footer">
  <div>
    <p><b>&copy; Copyright license 2022</b></p>
  </div>
</footer>
  </body>
</html>