*{
    box-sizing: border-box;
}
body{
  background: palegoldenrod;
  margin: 0;
  padding-right: 0.5px;
  width: 100%;
  max-width: 100%;
}
#nav-a{
  font-family: SOFIA PRO;
  font-size: 1.1em;
  margin-top: -3.5em;
  margin-right: 3em;
  max-width: 6.5em;
  height: 2.5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-radius: 5em;
  border:1.2px solid black;
  background: lightgoldenrodyellow;
}
#nav-a:hover{
  font-weight: bolder;
  background: #B6CA87;
  border: 1.7px solid #1A1919;
}
header{
  z-index: 200;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 7em;
  background-image:linear-gradient(0deg, rgba(26, 25, 25, 0.3), rgba(26, 25, 25, 0.3)), url(../images/background-image.jpg);
  background-size: cover;
}
header h1{
  color: darkolivegreen;
}
nav div{
  font-family: SOFIA PRO;
  display: inline-flex;
  text-align: center;
  justify-content: flex-end;
}
h1{
  font-size: 1.4em;
  margin-top: 0.6em;
  font-weight: bolder;
  font-family: Lato;
  text-align: center;
  color:goldenrod;
  border-radius: 5em;
  border:1.2px solid black;
}
div h1{
  margin-left: 2em;
  margin-top: 1em;
  font-weight: bolder;
  background: lightgoldenrodyellow;
  padding: 0.6em;
  max-width: 7em;
  border-radius: 10em 15em 10em 15em / 10em 5em 10em 5em;
}
h2{

  text-align: center;
  color: darkolivegreen;
}
h3{

  font-family: Minerva Modern;
  color: palegoldenrod;

}
p{
  font-size: 0.7em;
  font-family: SOFIA PRO;
}
#form-suscripcion{
  padding-top: 12.5em;
  top: 0;
  margin-right: 0;
  max-width: 100%;
  height: 38em;
  background-image:linear-gradient(0deg, rgba(26, 25, 25, 0.3), rgba(26, 25, 25, 0.3)), url(../images/background-image.jpg);
  background-size: cover;
  background background-repeat: no-repeat;
  background-position: center center;
}
#form-suscripcion div{
  margin: -2.3em auto;
  padding: 2em 1.5em;
  padding-bottom: 22em;
  width: 24.5em;
  height: 24.5em;
  border-radius: 3em;
  background: RGBA(166, 138, 100, 0.70);
  text-align: center;

}
.mensaje-form{
  color: black;
  font-size: 0.96em;
  font-weight: bold;
  text-align: center;
  font-family: Minerva Modern;
}
#form-suscripcion h3{
  color: #37511A;
  font-weight: bolder;
  font-size: 2em;
  margin-top: -0.5em;
  font-family: Minerva Modern;
}
.form-texto{
  border: 0;
  border-radius: 2em;
  margin: 0px auto;
  font-family: Lato;
  text-align: center;
  max-width: 14.5em;
}
.subtitle-form{
  font-family: SOFIA PRO;
  color: palegoldenrod;
  margin-top: 0.4em;
  font-size: 1.3em;
}
.form-email{
  border: 0;
  margin: 0px auto;
  font-family: Lato;
  text-align: center;
  max-width: 14.5em;
  border-radius: 2em;
}
form-texto:active{
  border:0;
}
.form-button{
  display: flex;
  align-items: center;
  color: darkolivegreen;
  background: #deefb7;
  border: 1.8px solid darkolivegreen;
  border-radius: 1.5em;
  margin: 0px auto;
  margin-top: 1em;
  padding: 1em 0.5em;
  height: 2em;
  max-width: 9.5em;
  font-weight: bold;
  font-family: SOFIA PRO;
}
.form-button:active{
  font-weight: bolder;

}
#background-novedades{
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  margin-bottom: 3em;
}
#novedades{
  max-width: 100%;
  width: 60em;
  border-radius: 5em;
  margin: 0.3em auto;
  margin-bottom: -3em;
  padding: 2em 1.5em;
  text-align: center;
  background: #FDFFEF;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1.3px solid darkolivegreen;
}
#novedades h2{
  font-family: Minerva Modern;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
}
.lista-novedades{
  list-style: none;
  display: flex;
  margin: 0.5em auto;
  align-items: center;
  justify-content: space-between;
}
.lista-novedades a{
  font-family: SOFIA PRO;
  color: black;
  text-decoration: none;
}
.lista-novedades a:hover{
  transition: 0.25s;
  font-weight: bold;
}
.lista-novedades img{
  max-width: 17em;
  border-radius: 2.5em;
}
.container-nov{
  display: flex;
  justify-content: flex-end;
  margin: 8em auto;
  width: 100%;
}
#novedades-saludo{
  text-align: center;
  color: darkolivegreen;
  font-weight: bold;
  font-size: 1.3em;
}
.container-nov a{
  font-family: Minerva Modern;
  color: black;
  font-size: 1.1em;
}
#btn-cerrar-sesion{
  background: lightgoldenrodyellow;
  color: black;
  border: 1.8px solid darkolivegreen;
  text-align: center;
  border-radius: 4em;
  padding: 2.3px 5px;
  height: 1.5em;
  width: 7em;
  text-decoration: none;
}
.novedades-div{
  margin-top: 7em;
}
.bton-novedades{
  text-decoration: none;
  color: black;
  background: #B6CA87;
  padding: 0.3em 0.5em;
  border-radius: 8em;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Minerva Modern;
  border: 1.5px solid darkolivegreen;
}
.bton-novedades:hover{
  color: white;
  background: #B6CA87;
}
.table{
  border: 2.4px solid white;
  max-width: 95%;
  margin: 2.5em auto;
  margin-bottom: 5em;
  font-family: Minerva Modern;
}
.table a{
  background: darkolivegreen;
  color: lightgoldenrodyellow;
}
.lista-bd{
  font-family: Minerva Modern;
  color: darkolivegreen;
  font-weight: bold;
  background: lightgoldenrodyellow;
  font-weight: bolder;
  font-size: 1.3em;
  max-width: 40em;
  
}
.titulo-nov{
  color: darkolivegreen;
  font-family: Minerva modern;
  font-weight: bolder;
  font-size: 2.2em;
}
.if-error{
  color: lightgoldenrodyellow;
  margin: 1em auto;
  padding: 0.2em 1em;
  border-radius: 10em;
  width: 20em;
  font-weight: bolder;
  font-size: 1.5em;
  text-align:center;
}
#introduccion{
  margin-top: 4em;
  max-width: 100%;
}
#introduccion h3{
  width: 17em;
  margin: 1em auto;
  text-align: center;
  font-weight: bolder;
  border: 1.2px solid black;
  border-radius: 5em;
  background: lightgoldenrodyellow;
  color: darkolivegreen;
}
#introduccion p{
    text-align: center;
    font-size: 1.2em;
    margin-left: 9em;
    margin-right: 9em;
}
#custom-cards{
    background: whitesmoke;
}
#custom-cards h2{
    font-weight: bolder;
    font-family: Lato;

}
#custom-cards h3{
    margin-left: 0.4em;
}
#desierto{
    background: #F6FFD4;
    padding: 2em;
    max-width: 100%;
    margin-top: 1.4em;
}
#title-desierto h3{
    text-align: center;
    margin: 0.2em auto;
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    max-height: 3em;
    max-width: 12em;
}
.lista-desierto{
    font-family: SOFIA PRO;
    font-weight: 50;
    font-size: 1.2em;
    color: darkolivegreen;
    display: inline-flex;
    flex-direction: column;
}
#border-container img{
  margin: 0.1em auto;
}
#border-container h4{
    font-family: Lato;
    font-weight: bolder;
    max-width: 25em;
    margin:0 auto;
    margin-top: 0.5em;
    height: 3em;
    color: olivedrab;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: lightgoldenrodyellow;
    border-radius: 3em;
    font-size: 2em;
}
#img-desierto{
  margin: 0 auto;
}
#img-desierto img{
  border-radius: 1.5em;
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
  width: 30em;
  height: 15em;
}
#img-desierto div p{
  color: black;
  font-size: 1.1em;
  margin-left: 5em;
  margin-top: -4em;
}
#desierto h3{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 2em;
  border: 1.2px solid black;
  border-radius: 5em;
  background: lightgoldenrodyellow;
  color: darkolivegreen;

}
#desierto h4{
  font-weight: bold;
  color: darkolivegreen;
  font-family: Minerva Modern;
  margin-bottom: 1.2em;
}
#desierto p{
    color: black;
    font-family: SOFIA PRO;
    font-size: 1.2em;
    margin-bottom: 0.7em;
    text-align: center;
}
.sabias-que-desierto{
  text-align: center;
  margin-top: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
}
.sabias-que-desierto p{
  font-family: SOFIA PRO;
  font-size: 1.1em;
  color: black;
  display: flex;
  justify-content: center;
}
.sabias-que-desierto img{
  width: 45em;
  height: 35em;
  margin-top: 1.5em;
  border-radius: 3em;
}
#laguna{
  padding-top: 2em;
  padding-bottom: 2;
  padding: 1.5em auto;
  max-width: 100%;
  background: #B6CA87;
}
.informacion-lago{
  color: black;
  margin-bottom: 2em;
  font-size: 1em;
  margin: 1em auto;
  font-family: Minerva Modern;
  width: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  text-decoration: none;
  border: 1.2px solid black;
  background: #deefb7;
}
.informacion-lago:hover{
    font-weight: bold;
    background: whitesmoke;
    color: darkolivegreen;
}
#campo{
  max-width: 100%;
  margin-bottom: 3em;
  text-align: center;
}
#campo h4{
  font-family: Lato;
  font-weight: bolder;
  color: olivedrab;
  margin: 1em ;
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 2.4em;
}
.lista-campo{
  font-family: SOFIA PRO;
  font-size: 1.2em;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
#campo img{
  position: center;
  border-radius: 3em;
  width: 20em;
  height: 15em;
}
.h3-campo{
  margin: 0.4em auto;
  width:20em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5em;
  text-align: center;
  border: 1.2px solid black;
  border-radius: 5em;
  font-weight: bolder;
  background: lightgoldenrodyellow;
  color: darkolivegreen;
}
#campo p{
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.2em;
}
#footer{
  height: 1.5em;
  color: black;
  background: #6DA855;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 0.2em;
  padding-right: 1em;
  max-width: 100%;
}
.texto-divide{
  margin-bottom: 1em;
  text-align: center;
  font-family: Minerva Modern;
  font-size: 1.4em;
  color: olivedrab;
}
hr{
  width: 12em;
  margin: 1em auto;
}
#mini-biografia{
  padding: 2em;
  font-family: Lato;
  outline: 1.2px solid black;
  background: whitesmoke;
  border-radius: 3.5em;
}
#mini-biografia h3{
  margin-left: 0.4em;
  margin-bottom: 0.8em;
  color: darkolivegreen;
}
#mini-biografia img{
  display: flex;
  margin-top: 0.5em;
  width: 25em;
  height: 10em;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  margin: 0.3em;
}
#contacto{
  margin: 0.3em auto;
  font-family: Lato;
  font-size: 1.5em;
  max-width: 100%;
  width: 26em;
  height: 16em;
  padding-top: 1em;
  padding-bottom: ;
  text-align: center;
  background: lightgoldenrodyellow;
  border-radius: 3em;
  border: 2px double darkolivegreen;
}
#contacto h4:first-child{
  color: darkolivegreen;
  text-align: center;
  font-size: 1.4em;
}
#contacto h4{
  color: black;
  margin: 0.3em auto;
  margin-bottom: -0.02em;
  text-align: center;
  padding-right: auto;
  padding-left: auto;
  font-weight: bolder;
  font-family: SOFIA PRO;
}
.contacto-p1{
  color: darkolivegreen;
  font-size: 1.2em;
  width: 14.5em;
  border-radius: 1.5em;
  margin: 0 auto;
  margin-top: 0.3em;
  font-weight: bold;
  font-family: Minerva Modern;

}
.contacto-p1:hover{
  background: darkolivegreen;
  color: white;
}
.contacto-p2 p{
  width: 9em;
  border-radius: 1.5em;
  margin: 0 auto;
  margin-top: 0.3em;
  font-family: Minerva Modern;
  font-weight: bold;
  color: darkolivegreen;
  font-size: 1em;
}
.contacto-p2 p:hover{
  background: darkolivegreen;
  color: white;
}
.ig-contacto{
  width: 7em;
  padding: 0 0.5em;
  padding-bottom: 0.2em;
  margin: 1 auto;
  margin-top: 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: darkolivegreen;
  border-radius: 1.5em;
}
.ig-contacto:hover{
  color: white;
  background: darkolivegreen;
}